# OS and editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# Local env/secrets
.env
.env.*
infra/terraform.tfvars
manifests/runtime.env

# Terraform local artifacts
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
